version: "3.8"

services:
  postgres:
    image: timescale/timescaledb-ha:pg14-latest
    restart: always
    volumes:
      - postgres_data:/home/postgres/pgdata/data
    environment:
      - POSTGRES_DB=pidgeon
      - POSTGRES_USER=pidgeon
      - POSTGRES_PASSWORD=pidgeon
    ports:
      - 5433:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d pidgeon -U pidgeon"]
      interval: 1m
      timeout: 10s
      retries: 10

volumes:
  postgres_data:
    driver: local
